
[submodule "dependencies/dotbot"]
	path = dependencies/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dependencies/tpm"]
	path = dependencies/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dependencies/tmuxinator"]
	path = dependencies/tmuxinator
	url = https://github.com/tmuxinator/tmuxinator
[submodule "dependencies/vim-plug"]
	path = dependencies/vim-plug
	url = https://github.com/junegunn/vim-plug
